.repository/
*/target
/bin
/target
*/output
*/aspen-config
local-*.properties
db-unique-*.properties
*/runtime-location.properties
*/aspen-web
!*/aspen-config/test.properties_template
bundle.properties

# Eclipse
.classpath
.project
.settings

# Intellij IDEA
**/*.iml
**/*.eml
.idea/*
out/
